@mixin font-face($name, $path, $weight: null, $style: null) {
  @font-face {
    font-family: $name;
    src: url("#{$path}.woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// TODO: Не забудь добавить шрифты в /source/data/global, раздел preloadFonts для формирования preload
@include font-face("Montserrat", "../../fonts/Montserrat-Regular", 400, normal);
@include font-face("Montserrat", "../../fonts/Montserrat-Medium", 500, normal);
@include font-face("Montserrat", "../../fonts/Montserrat-SemiBold", 600, normal);
@include font-face("Montserrat", "../../fonts/Montserrat-Bold", 700, normal);
