@use "variables";
@use "mixins";

:root {
  --font-main: "Montserrat", "Arial", sans-serif;

  --white: #ffffff;
  --light-gray: #f1f1f1;
  --medium-grey: #cacaca;
  --gray: #808080;
  --black: #000000;
  --basic-red: #cd0000;
  --shadow-color: rgba(58, 68, 83, 0.24);

  --arrow: url("../../icons/arrow_select.svg");
}
