@use "variables";
@use "mixins";

:root {
  --font-main: "Montserrat", "Arial", sans-serif;

  --black: #000000;
  --white: #ffffff;
  --light-gray: #f1f1f1;
  --medium-grey: #cacaca;
  --basic-red: #cd0000;
  --shadow-color: rgba(58, 68, 83, 0.24);
}
