{% from "macros/fields.njk" import select, input, checkbox %}
{% from "macros/btn.njk" import button %}

<form class="form {{ mixClass }}" action="#" method="post">

  {% if formType == "filter" %}
    <fieldset class="form__module">
      <legend class="visually-hidden">Формат таможенного оформления</legend>
      <ul class="form__list">
        <li class="form__list-item">
          {{ checkbox("Полная пошлина", "duty", true, "form__module") }}
        </li>
        <li class="form__list-item">
          {{ checkbox("Распил или конструктор", "dismantling", true, "form__module") }}
        </li>
      </ul>
    </fieldset>
    <fieldset class="form__module">
      <legend class="visually-hidden">Автомобиль</legend>
      <ul class="form__list">
        <li class="form__list-item">
          {{ select("Производитель", "brand", [{value: "not selected", text: "Не выбрано"}], "form__module") }}
        </li>
        <li class="form__list-item">
          {{ select("Марка", "model", [{value: "not selected", text: "Не выбрано"}], "form__module") }}
        </li>
      </ul>
    </fieldset>
    <fieldset class="form__module">
      <legend class="form__legend">Год выпуска</legend>
      <ul class="form__list form__list--range">
        <li class="form__list-item">
          {{ select("", "year_from", [{value: "year_from", text: "от"}], "form__module") }}
        </li>
        <li class="form__list-item">
          {{ select("", "year_to", [{value: "year_to", text: "до"}], "form__module") }}
        </li>
      </ul>
    </fieldset>
    <ul class="form__action">
      <li class="form__action-item">
        {{ button("Расширенный поиск", "button", "form__btn btn--extended") }}
      </li>
      <li class="form__action-item">
        {{ button("Найти", "submit", "form__btn btn--submit") }}
      </li>
      <li class="form__action-item form__action-item--counter">
        <p class="form__counter">Автомобилей в наличии: <output class="form__counter-value">256</output></p>
      </li>
    </ul>
  {% endif %}

  {% if formType == "callback" %}
    <fieldset class="form__module">
      <legend class="visually-hidden">Контактные данные для обратной связи</legend>
      <h2 class="form__title">Обратная связь</h2>
      <ul class="form__list">
        <li class="form__list-item">
          {{ input("Ваше имя", "text", "user_name", "Ввести", "form") }}
        </li>
        <li class="form__list-item">
          {{ input("Контактный телефон", "tel", "user_phone", "+7", "form") }}
        </li>
      </ul>
    </fieldset>
    {{ button("Проконсультировать бесплатно", "submit", "form__btn form__btn--submit") }}
  {% endif %}

</form>

