<section class="intro">
  <div class="intro__inner container">
    <div class="intro__content">
      <h1 class="intro__title">Доставим любую технику из&nbsp;Японии за&nbsp;3&nbsp;недели</h1>
      {% set formType = "filter" %}
      {% set mixClass = "intro__form" %}
      {% include "blocks/form.njk" %}
    </div>
      <picture>
        <source type="image/webp" media="(min-width: 1280px)" width="1080" height="316" srcset="../../images/intro-bg-desktop@1x.webp 1x, ../../images/intro-bg-desktop@2x.webp 2x">
        <source type="image/jpeg" media="(min-width: 1280px)" width="1080" height="316" srcset="../../images/intro-bg-desktop@1x.jpg 1x, ../../images/intro-bg-desktop@2x.jpg 2x">
        <source type="image/webp" media="(min-width: 375px)" width="375" height="316" srcset="../../images/intro-bg-mobile@1x.webp 1x, ../../images/intro-bg-mobile@2x.webp 2x">
        <img class="intro__bg" src="../../images/intro-bg-mobile@1x.jpg" srcset="../../images/intro-bg-mobile@1x.jpg 2x" width="375" height="316" alt="Ряд современных легковых автомобилей разных цветов на парковке автодилера">
      </picture>
  </div>
</section>
