<nav class="header__nav nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#">Услуги</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Каталог&nbsp;техники</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Аукционы</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Информация</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">О&nbsp;нас</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Отзывы</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">Контакты</a>
    </li>
  </ul>
</nav>
