{% from "macros/infographic.njk" import infographic %}

{% call infographic("Как происходит покупка", blockName="process", modifier="purchase") %}
  <li class="process__item process__item--support">
    <h3 class="process__item-title">Заявка и консультация</h3>
    <p class="process__item-text">Вы оставляете заявку, мы связываемся с вами и подбираем оптимальные варианты под ваш бюджет.</p>
  </li>
  <li class="process__item process__item--document">
    <h3 class="process__item-title">Заключение договора</h3>
    <p class="process__item-text">Подписываем официальный договор, вносим гарантийный депозит для участия в аукционах.</p>
  </li>
  <li class="process__item process__item--market">
    <h3 class="process__item-title">Подбор и покупка авто</h3>
    <p class="process__item-text">Ищем машину на строгих аукционах Японии, согласовываем лоты и делаем ставки.</p>
  </li>
  <li class="process__item process__item--delivery">
    <h3 class="process__item-title">Доставка и растаможка</h3>
    <p class="process__item-text">Транспортируем судном в порт Владивосток, проходим лабораторию и таможенную очистку.</p>
  </li>
  <li class="process__item process__item--guarantee">
    <h3 class="process__item-title">Передача автомобиля</h3>
    <p class="process__item-text">Вы забираете готовую машину со всеми документами или мы отправляем её ТК.</p>
  </li>
{% endcall %}



