{% from "macros/card.njk" import card %}

<section class="trending">
  <div class="container">
    <h2 class="trending__title">Выбор автомобилей</h2>

    <ul class="trending__list">
      {% for car in data.cars %}
        <li class="trending__item">
          {{ card(car, "trending-card") }}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
