{% from "macros/components.njk" import sectionTitle %}
{% from "macros/card.njk" import card %}
{% from "macros/fields.njk" import radio %}
{% from "macros/btn.njk" import button %}
<section class="trending">
  <div class="trending__inner container">
    {{ sectionTitle("Популярные автомобили","trending__title", visuallyHidden=false) }}
    <ul class="trending__radio-list">
      <li class="trending__radio-list-item">{{radio("Любые", "trending-filter", "any", checked=true, className="trending__radio") }}</li>
      <li class="trending__radio-list-item">{{radio("В наличии", "trending-filter", "available",checked=false, className="trending__radio") }}</li>
      <li class="trending__radio-list-item">{{radio("Под заказ", "trending-filter", "order",checked=false, className="trending__radio") }}</li>
    </ul>
    <ul class="trending__list">
      {% for car in data.cars %}
        <li class="trending__item">
          {{ card(car, "card") }}
        </li>
      {% endfor %}
    </ul>
    {{ button("Показать еще", "button", "trending__btn btn--more") }}
  </div>
</section>
