<header class="page__header header">

  <div class="header__inner container">
    <a href="" class="header__logo logo logo--inner-page">
      <img src="images/logo.svg" width="50" height="46" alt="">
    </a>
    <nav class="header__nav nav nav--inner-page">


      {# <ul class="nav__list">
      {% for item in navList %}
        <li class="nav__item nav__item--{{ item.class }}">
          <a href="/{{ item.link }}" class="nav__link nav__link--{{ item.class }}">{{ item.title }}</a>
        {% if item.hasSubmenu %}
          <ul class="nav__submenu">
            {% for subitem in item.submenu %}
              <li class="nav__sub-item">
                <a href="/{{ subitem.link }}" class="nav__link nav__link--{{ subitem.class }}">{{ subitem.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
      #}


      {#   <ul class="nav__list">
      {% for item in navList %}
        <li class="nav__item">
          <a href="/{{ item.link }}" class="nav__link nav__link--{{ item.class }}">{{ item.title | replace("__", "") }}</a>
        </li>
      {% endfor %}
    </ul> #}

    </nav>


    {% include "./theme-toggle.njk" %}

  </div>
</header>
