<header class="page__header header">
  <div class="header__inner container">
    <a class="header__logo logo" href="/">
      <img src="images/logo.svg" width="40" height="40" alt="Tosei - автомобили из Японии с доставкой по все России">
      <p class="logo__title">tosei</p>
    </a>
    {% include "../blocks/burger.njk" %}
{#    {% include "../blocks/nav.njk" %}#}
  </div>
</header>
