<section class="theme-toggle">
  <h2 class="visually-hidden">Переключение темы сайта</h2>

  <button class="theme-toggle__btn" aria-label="Открыть панель выбора">
    <span class="theme-toggle__title">Сменить <br>тему</span>
  </button>

  <div class="theme-toggle__block">
    <p class="theme-toggle__item">
      <label class="visually-hidden" for="light">Светлая</label>
      <input class="theme-toggle__radio" type="radio" name="theme-toggle" id="light" value="light" title="Светлая">
    </p>
    <p class="theme-toggle__item">
      <label class="visually-hidden" for="dark">Тёмная</label>
      <input class="theme-toggle__radio" type="radio" name="theme-toggle" id="dark" value="dark" title="Тёмная">
    </p>
    <p class="theme-toggle__item">
      <label class="visually-hidden" for="green">Яркая, фирменная</label>
      <input class="theme-toggle__radio" type="radio" name="theme-toggle" id="green" value="green" title="Яркая">
    </p>
  </div>
</section>
