<a class="to-top" href="#">
  <span class="visually-hidden">Вверх</span>
  <svg class="to-top__svg" width="28" height="28" viewbox="0, 0, 38.16, 38.16" aria-hidden="true">
    <circle class="to-top__circle to-top__circle--bg" r="15.9" cx="19.08" cy="19.08"/>
    <circle class="to-top__circle to-top__circle--stroke" r="15.9" cx="19.08" cy="19.08" stroke-linecap="round"/>
  </svg>
</a>
