<!DOCTYPE html>
<html lang="{{ global.language }}">
  <head>
    {% include "./global/head.njk" %}
    <title>{{ pageTitle or global.title | escape }}</title>
  </head>
  <body class="page">
      {% include "./global/header.njk" %}
      {% include "./blocks/nav.njk" %}
    <main class="page__main">
      {% block main %}
      {% endblock %}
    </main>
    {% include "./global/footer.njk" %}
    {% include "./global/scripts.njk" %}
  </body>
</html>
