{#{% extends "default.njk" %}#}
{% extends template %}

{% set pageTitle = "Страница не найдена" %}

{% block main %}

<h1>404</h1>
<p>Страница не найдена. <a href="/">Перейти на&nbsp;главную</a>.</p>

{% endblock %}
