{#{% extends "default.njk" %}#}
{% extends template %}

{% set pageTitle = "page name" %}

{% block main %}
  {% include "./blocks/intro.njk" %}
  {% include "./blocks/trending.njk" %}
  {% include "./blocks/advantages.njk" %}
  {% include "./blocks/process.njk" %}
{% endblock %}
