{#{% extends "default.njk" %}#}
{% extends template %}

{% set pageTitle = "page name" %}

{% block main %}
  {% include "./blocks/intro.njk" %}
  {% include "./blocks/trending.njk" %}
  {% set isPurchaseProcess = false %}
  {% include "./blocks/infographic.njk" %}
  {% set isPurchaseProcess = true %}
  {% include "./blocks/infographic.njk" %}
{% endblock %}
