{% from "macros/components.njk" import dlRow %}

{% macro card(data, className="") %}
  <a class="{{ className }}" href="#">
    <h3 class="{{ className }}__title">{{ data.title }}</h3>
    <picture>
      {# <source type="image/webp" media="(min-width: 1440px)" srcset="images/card-images/{{ data.image }}-desktop.webp 1x, images/card-images/{{ data.image }}-desktop@2x.webp 2x">
      <source type="image/jpeg" media="(min-width: 1440px)" srcset="images/card-images/{{ data.image }}-desktop.jpg 1x, images/card-images/{{ data.image }}-desktop@2x.jpg 2x">
      <source type="image/webp" srcset="images/card-images/{{ data.image }}@1x.webp 1x, images/card-images/{{ data.image }}@2x.webp 2x"> #}
      <img class="{{ className }}__image" src="images/card-images/{{ data.image }}@1x.jpg" srcset="images/card-images/{{ data.image }}@2x.jpg 2x" width="{{ data.width }}" height="{{ data.height }}" alt="{{ data.title }}">
    </picture>
    <dl class="{{ className }}__info">
      {{ dlRow("Объем двигателя", data.engine, className + "__info") }}
      {{ dlRow("Год", data.year, className + "__info") }}
      {{ dlRow("Пробег", data.mileage, className + "__info") }}
      {{ dlRow("Тип оформления", data.customs, className + "__info", modifier="full", visuallyHidden=true) }}
      {{ dlRow("Привод", data.drive, className + "__info") }}
      {{ dlRow("КПП", data.transmission, className + "__info") }}
      {{ dlRow(data.priceLabel, data.priceValue, className + "__info", modifier="price", visuallyHidden=false) }}
      {{ dlRow("Статус автомобиля", data.statusText, className + "__info", modifier=data.status, visuallyHidden=true, isStatus=true) }}

    </dl>
  </a>
{% endmacro %}

{# {
      "title": "Toyota Prius",
      "image": "toyota-prius",
      "width": "303",
      "height": "198",
      "engine": "109 л.с.",
      "year": "2018 г.",
      "mileage": "72 000 км",
      "customs": "Под полную пошлину",
      "drive": "Передний",
      "transmission": "Планетарная",
      "priceLabel": "Стоимость во Владивостоке",
      "priceValue": "1 250 000 ₽",
      "status": "order",
      "statusText": "Под заказ"
    } #}
