{% macro sectionTitle(text, mixClass="", visuallyHidden=false) %}
  <h2 class="{% if visuallyHidden %}visually-hidden{% else %}section-title{% endif %} {% if mixClass %}{{ mixClass }}{% endif %}">
    {{ text }}
  </h2>
{% endmacro %}

{% macro dlRow(term, value, className, modifier="", visuallyHidden=false, isStatus=false) %}
  <div class="{{ className }}-row {% if modifier %}{{ className }}-row--{{ modifier }}{% endif %}">
    <dt class="{% if visuallyHidden %}visually-hidden{% else %}{{ className }}-term{% endif %} {% if modifier and not visuallyHidden %}{{ className }}-term--{{ modifier }}{% endif %}">
      {{ term }}
    </dt>
    <dd class="{% if isStatus %}{{ className | replace('__info', '') }}__status {{ className | replace('__info', '') }}__status--{{ modifier }}{% else %}{{ className }}-value {% if modifier %}{{ className }}-value--{{ modifier }}{% endif %}{% endif %}">
      {{ value }}
    </dd>
  </div>
{% endmacro %}

{% macro pictureResponsive(data, folder, width, height, desktopWidth="", desktopHeight="", tabletWidth="", tabletHeight="", tabletDesktop=false, className="") %}
<picture>
  {% if tabletDesktop %}
    <source type="image/webp" media="(min-width: 1440px)" srcset="images/{{ folder }}/{{ data.image }}-desktop@1x.webp 1x, images/{{ folder }}/{{ data.image }}-desktop@2x.webp 2x" width="{{ desktopWidth }}" height="{{ desktopHeight }}">
    <source type="image/jpeg" media="(min-width: 1440px)" srcset="images/{{ folder }}/{{ data.image }}-desktop@1x.jpg 1x, images/{{ folder }}/{{ data.image }}-desktop@2x.jpg 2x" width="{{ desktopWidth }}" height="{{ desktopHeight }}">
  {% endif %}
  {% if tabletWidth %}
    <source type="image/webp" media="(min-width: 768px)" srcset="images/{{ folder }}/{{ data.image }}-tablet@1x.webp 1x, images/{{ folder }}/{{ data.image }}-tablet@2x.webp 2x" width="{{ tabletWidth }}" height="{{ tabletHeight }}">
    <source type="image/jpeg" media="(min-width: 768px)" srcset="images/{{ folder }}/{{ data.image }}-tablet@1x.jpg 1x, images/{{ folder }}/{{ data.image }}-tablet@2x.jpg 2x" width="{{ tabletWidth }}" height="{{ tabletHeight }}">
  {% endif %}
  <source type="image/webp" srcset="images/{{ folder }}/{{ data.image }}-mobile@1x.webp 1x, images/{{ folder }}/{{ data.image }}-mobile@2x.webp 2x">
  <img class="{{ className }}" src="images/{{ folder }}/{{ data.image }}-mobile@1x.jpg" srcset="images/{{ folder }}/{{ data.image }}-mobile@2x.jpg 2x" width="{{ width }}" height="{{ height }}" alt="Фото: {{ data.title if data.title else data.author }}">
</picture>
{% endmacro %}
