{% macro select(label, name, options, className="") %}
    {% if label %}
      <label class="{{ className }}__label" for="field-{{ name }}">{{ label }}</label>
    {% endif %}
    <select class="{{ className }}__select" id="field-{{ name }}" name="{{ name }}">
      {% for option in options %}
        <option value="{{ option.value }}">{{ option.text }}</option>
      {% endfor %}
    </select>
{% endmacro %}

{% macro input(label, type="text", name="", placeholder="", className="") %}
    <label class="{{ className }}__label">{{ label }}</label>
    <input class="{{ className }}__input" type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}">
{% endmacro %}

{% macro checkbox(label, name, checked=false, className="") %}
  <input class="{{ className }}-input" type="checkbox" name="{{ name }}" {% if checked %}checked{% endif %}>
  <label class="{{ className }}-checkbox">{{ label }}</label>
{% endmacro %}
