{% from "macros/components.njk" import sectionTitle %}

{% macro infographic(title, blockName, modifier="") %}
<section class="{{ blockName }} {% if modifier %}{{ blockName }}--{{ modifier }}{% endif %}">
  <div class="{{ blockName }}__inner container">

    {{ sectionTitle(title, blockName + "__title") }}

    <ul class="{{ blockName }}__list">
      {{ caller() }}
    </ul>
    {% if modifier == "purchase" %}
      <div class="{{ blockName }}__actions">
        <button class="{{ blockName }}__btn btn" type="button">Оставить заявку</button>
      </div>
    {% endif %}

  </div>
</section>
{% endmacro %}



