{# Финальный, кристально чистый макрос #}
{% macro reviewCard(data, className="review-card", folder="review-images", width="335", height="200") %}
<article class="{{ className }}">
  <a class="{{ className }}__media" href="{{ data.videoUrl if data.videoUrl else '#' }}" target="_blank" rel="noopener" aria-label="Смотреть видео отзыв от {{ data.author }}">
    <picture>
    <source type="image/webp" media="(min-width: 1440px)" srcset="images/{{ folder }}/{{ data.image }}-desktop@1x.webp 1x, images/{{ folder }}/{{ data.image }}-desktop@2x.webp 2x">
    <source type="image/jpeg" media="(min-width: 1440px)" srcset="images/{{ folder }}/{{ data.image }}-desktop@1x.jpg 1x, images/{{ folder }}/{{ data.image }}-desktop@2x.jpg 2x">
    <source type="image/webp" srcset="images/{{ folder }}/{{ data.image }}-mobile@1x.webp 1x, images/{{ folder }}/{{ data.image }}-mobile@2x.webp 2x">
    <img class="{{ className }}__image" src="images/{{ folder }}/{{ data.image }}-mobile@1x.jpg" srcset="images/{{ folder }}/{{ data.image }}-mobile@2x.jpg 2x" width="{{ width }}" height="{{ height }}" alt="Фото к отзыву от {{ data.author }}">
    </picture>
  </a>
  <ul class="{{ className }}__rating">
    {% for i in range(0, 5) %}
      <li class="{{ className }}__rating-item{% if i < data.rating %} {{ className }}__rating-item--active{% endif %}"></li>
    {% endfor %}
  </ul>
  <h3 class="{{ className }}__author">{{ data.author }}</h3>
  <p class="{{ className }}__car">{{ data.car }}</p>
</article>
{% endmacro %}

