@use "../global/variables";
@use "../global/mixins";

.burger {
  --icon: url("../../icons/burger.svg");

  position: relative;
  min-width: 40px;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  background-color: var(--black, #000000);

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 34px;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask: var(--icon) no-repeat center / 34px 34px;
    background-color: var(--white, white);
  }

  &:disabled {
    opacity: 0.8;
    cursor: auto;
  }

  &:focus {
    //outline: none;
    //opacity: 0.7;
  }
}
