@use "../global/variables";
@use "../global/mixins";

.burger {
  position: relative;
  width: 40px;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  background-color: var(--black);

  &:disabled {
    opacity: 0.8;
    cursor: auto;
  }

  &:focus {
    //outline: none;
    //opacity: 0.7;
  }
}

.btn--bright {
  position: relative;
  border: none;
  border-radius: 100vw; // для адаптивного скругления
  background: var(--bright, #292929);
  color: var(--color-inverse, #ffffff);
  text-decoration: none;
  //box-shadow: 0px 2px 27px rgba(18, 48, 154, 0.88);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    //outline: none;
    //opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}
