.form {
  background-color: var(--white, white);
  padding: 25px 24px 14px;
  box-shadow: 0 9px 34px var(--shadow-color, transparent);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 13px;
}

.form__module {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__list-item {
  display: flex;
  row-gap: 9px;
  column-gap: 8px;
  position: relative;

  &:not(:has(.form__module-checkbox)) {
    flex-direction: column;
  }

  &:not(:has(.form__module-checkbox))::before {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 12px;
    width: 20px;
    height: 20px;
    background-color: var(--basic-red, red);
    mask: var(--arrow) no-repeat center / contain;
    pointer-events: none;
    transition: transform 0.3s ease;
  }

  &:has(.form__module-select:focus-visible)::before {
    transform: rotate(180deg);
  }
}

.form__list--range {
  gap: 8px;
}

.form__module-checkbox {
  appearance: none;
  margin: 0;
  min-width: 18px;
  max-height: 18px;
  aspect-ratio: 1;
  border-radius: 4px;
  background-color: var(--basic-red, red);

  &[type=checkbox]:checked {
    background-image: url("../../icons/check.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px 18px;
  }

  & + .form__module-label {
    font-size: 14;
    font-weight: 500;
    line-height: 1.2;
  }
}

.form__module-select {
  appearance: none;
  border: none;
  background-color: var(--light-gray, lightgray);
  border-radius: 2px;
  padding: 14px 16px;
  font-family: var(--font-main, "Arial"), sans-serif;
  font-size: 16px;
  font-weight: var(--main-font-weight, 400);
  line-height: 1;
}

.form__legend {
  padding: 3px 0 9px;
}

.form__action {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__counter {
  color: var(--gray, gray);
  font-weight: 500;
  margin-block: 0 10;
}

.form__counter-value {
  color: var(--basic-red, red);
}
