.infographic {
  --s-icon: 50px;

  &--purchase {
    --s-icon: 42px;
  }
}

.infographic__inner {
  display: grid;
  justify-content: center;
}

.infographic__title {
  margin-block: 0 10px;
  margin-inline-start: -5px;
}

.infographic__list {
  list-style: none;
  margin-block: 25px 47px;
  padding: 0;
  display: grid;
  gap: 25px;
}

.infographic__item {
  --icon: url("../../icons/globe.svg");
  padding-inline-start: 66px;
  width: 335px;
  position: relative;

  &::before {
    content: "";
    display: block;
    background: var(--icon) no-repeat center / contain;
    width: var(--s-icon);
    height: var(--s-icon);
    position: absolute;
    top: 0;
    left: 0;
  }

  &--support {
    --icon: url("../../icons/request.svg");
  }

  &--document {
    --icon: url("../../icons/conversation.svg");
  }

  &--market {
    --icon: url("../../icons/car.svg");
  }

  &--delivery {
    --icon: url("../../icons/cargo.svg");
  }

  &--guarantee {
    --icon: url("../../icons/delivery.svg");
  }
}

.infographic__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  margin-block: 0 8px;
}

.infographic__item-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-gray-500, gray);
  margin: 0;
}
