@use "../global/mixins";

.intro__inner {
  display: grid;
}

.intro__bg {
  background-color: var(--white, white);
  grid-row: 1/-1;
  grid-column: 1;
  object-fit: cover;
}

.intro__content {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  margin: 0 20px;
}

.intro__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--white, white);
  margin: 44px 0 45px;
}
