@use "../global/mixins";

.intro__inner {
  display: grid;
}

.intro__bg {
  background-color: var(--white, #ffffff);
  grid-row: 1/-1;
  grid-column: 1;
  object-fit: cover;
}

.intro__content {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  margin: 0 20px;
}

.intro__title {
  font-size: 32px;
  font-weight: 700;
  color: var(--white, #ffffff);
  margin: 44px 0;
}

.intro__form-modul {
  margin: 0;
  padding: 0;
}

.intro__form-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.intro__form-item {
  display: flex;
}

.intro__form-input {
  appearance: none;
  margin: 0;
  width: 18px;
  aspect-ratio: 1;
  border-radius: 4px;
  background-color: var(--basic-red, #ff0000);
}
