.reviews__wrapper {
  list-style: none;
  padding-inline: 20px;
}

.reviews__inner {
  justify-content: center;
  padding-block: 33px 34px;
  display: grid;
}

.reviews__title {
  margin-block-start: 0;
}

.reviews__slider {
  overflow: visible;
}
